.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

table, th, td {
   border: 1px solid black;
}

.container{
    margin: auto;
    padding: 10px;
}
.scheduleList{
	width: 150px;
    height: 200px;
    float: left;
}

.calendarTable{
	margin-left: 150px;
    height: 200px;
}